.overlock-regular {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .overlock-bold {
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .overlock-black {
    font-family: "Overlock", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .overlock-regular-italic {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .overlock-bold-italic {
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .overlock-black-italic {
    font-family: "Overlock", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .Inconsolata-regular {
    font-family: "Inconsolata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .Inconsolata-bold {
    font-family: "Inconsolata", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .Inconsolata-black {
    font-family: "Inconsolata", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .Inconsolata-regular-italic {
    font-family: "Inconsolata", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .Inconsolata-bold-italic {
    font-family: "Inconsolata", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .Inconsolata-black-italic {
    font-family: "Inconsolata", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .Playwrite-regular {
    font-family: "Playwrite DE Grund", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .Playwrite-bold {
    font-family: "Playwrite DE Grund", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .Playwrite-black {
    font-family: "Playwrite DE Grund", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .Playwrite-regular-italic {
    font-family: "Playwrite DE Grund", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .Playwrite-bold-italic {
    font-family: "Playwrite DE Grund", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .Playwrite-black-italic {
    font-family: "Playwrite DE Grund", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  html {
    scroll-behavior: smooth;
  }
  
  
  body {
    background-color: #363062;
    color: #F5F5F5;
    z-index: 1;
    font-family: "Overlock", sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #363062;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #cccccc70;
    padding-top: 10px;
}

main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inconsolata", sans-serif;
    font-weight: 700;
}

p {
    line-height: 1.5;
}

a {
    color: #F99417;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin: 5px;
    padding: 5px; 
    list-style: none;
    text-transform: lowercase;
}

nav ul li:hover {
    opacity: 0.5;
    transition: all 0.6s ease-in-out;
}

nav ul li:not(:last-child)::after {
    display: inline-block;
    content: " | ";
    font-weight: 700;
    margin: 0 10px;
}

#fonts {
    scroll-margin-top: 100px;
}

#colors {
    scroll-margin-top: 100px;
}

#styles {
    scroll-margin-top: 100px;
}

.panel-container {
    margin: 15px;
    padding: 15px;
    border: 1px solid #cccccc70;
    background-color: rgb(77, 76, 125);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    flex: auto;
}

.color-swatch {
    color: rgba(156, 156, 156, 0.836);
    border-radius: 15px;
    text-align:center;
    align-content: center;
    text-shadow: #0000007e 0px 0px 0px;
    transition: all 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.25em;
    width: 100px;
    height: 100px;
}
.color-swatch:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #363062;
    color: #F5F5F5;
    text-align: center;
    margin-top: 40px;
    z-index: 0;
}